/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* !!!!!!!!!!!!!!!!!!!!!!fons */

            body{
                background-color: black;
            }





/* !!!!!!!!!!!!!!!!!!!!!!tipografies */

            @font-face {
                font-family: monumentregu;
                src: url(fonts/MonumentExtended-Regular.otf);
            }

            @font-face {
                font-family: _helvetica;
                src: url(fonts/Helvetica.ttf);
            }





/* !!!!!!!!!!!!!!!!!!!!!!capçalera */

            ul {
                list-style-type: none;
                margin-right: 2em;
                padding: 0;
                overflow: hidden;
                background-color: black;
            }
            
            li {
                float: right;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 10px 10px;
                text-decoration: none;
            }
            
            li a:hover {
                background-color: black;
            }

            .menu_principal{
                font-family: monumentregu;
                font-size: 1rem;
            }
  

    


/* !!!!!!!!!!!!!!!!!!!!!!imatge principal + títol */

            .contenedor{
                position: relative;
                display: inline-block;
                text-align: center;
            } 

            .titol_euphoria {
                position: relative;
                white-space: nowrap;
                animation: scroll-left 20s linear infinite;
              }
    
              @keyframes scroll-left {
                from {
                left: 100%;
                width: 500%; 
                }
                to {
                  left: -100%;
                  width: 500%;
                }
                
              }
    
              .titol_euphoria{
                  font-size: 20em;
                  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
              }





/* !!!!!!!!!!!!!!!!!!!!!! text general */

              h2{
                font-family: monumentregu;
                color: antiquewhite;
                text-align: center;
              }

              p{
                font-family: _helvetica;
                color: antiquewhite;
                text-align: center;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-left: 20%;
                margin-right: 20%;
              }





/* !!!!!!!!!!!!!!!!!!!!!! inici */

              .descripcio_inici{
                margin-top: 20%;
                margin-bottom: 5%;
                margin-left: 10%;
                margin-right: 10%;
              }

              #descripcio_inici_{
                margin-top: 20%;
                margin-bottom: 20%;
                margin-left: 10%;
                margin-right: 10%;
              }
  
  



/* !!!!!!!!!!!!!!!!!!!!!! personatges */

              .personatges_p{
                margin-top: 5%;
                margin-left: 10%;
                margin-right: 10%;
              }

              h3{
                font-family: monumentregu;
                font-size: 1.5rem;
                color: antiquewhite;
                margin-bottom: 2%;
                text-align: center;
              }

              .personatges_or{
                margin-top: 12%;
              }

              .img_pers{
                display:block;
                margin:auto;
                margin-bottom: 2%;
            }

            .saber_mes{
                margin-top: 5%;
                font-family: _helvetica;
            }

            .saber_mes:hover {
                color: blueviolet;
                font-family: _helvetica;
            }

            .saber_mes:link {
                color:antiquewhite;
                font-family: _helvetica;
            }

            .saber_mes:visited {
                color: antiquewhite;
                font-family: _helvetica;
            }

            .saber_mes:active {
                color: blueviolet;
                font-family: _helvetica;
            }




/* !!!!!!!!!!!!!!!!!!!!!! personatges */

            footer p{
                background-color: rgb(0,0,0);
                color:antiquewhite;
                font-size: 0.75rem;
                margin-bottom: 2%;
                margin-top: 5%;
                font-family: _helvetica;
            }


             
