/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* !!!!!!!!!!!!!!!!!!!!!!fons */

            body{
                background-color: black;
            }





/* !!!!!!!!!!!!!!!!!!!!!!tipografies */

            @font-face {
                font-family: monumentregu;
                src: url(fonts/MonumentExtended-Regular.otf);
            }

            @font-face {
                font-family: _helvetica;
                src: url(fonts/Helvetica.ttf);
            }





/* !!!!!!!!!!!!!!!!!!!!!!capçalera */

        

            .logo_capçalera{
              display: flex;
              text-align: center;
              justify-content: center;
            }

            ul {
                list-style-type: none;
                padding: 0;
                overflow: hidden;
                background-color: black;
                margin-bottom: 1em;
            }
            
            li {
                float: right;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 10px 10px;
                text-decoration: none;
                margin-right: 2em;
            }
            
            li a:hover {
                background-color: black;
            }

            .menu_principal{
                font-family: monumentregu;
                font-size: 1rem;
            }
  

    


/* !!!!!!!!!!!!!!!!!!!!!!imatge principal + títol */

            .contenedor{
                position: relative;
                display: inline-block;
                text-align: center;
            } 

            .titol_euphoria {
                position: relative;
                white-space: nowrap;
                animation: scroll-left 20s linear infinite;
              }
    
              @keyframes scroll-left {
                from {
                left: 100%;
                width: 500%; 
                }
                to {
                  left: -100%;
                  width: 500%;
                }
                
              }
    
              .titol_euphoria{
                  font-size: 20em;
                  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
              }





/* !!!!!!!!!!!!!!!!!!!!!! text general */

              h2{
                font-family: monumentregu;
                color: antiquewhite;
                text-align: center;
              }

              p{
                font-family: _helvetica;
                color: antiquewhite;
                text-align: center;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-left: 20%;
                margin-right: 20%;
              }





/* !!!!!!!!!!!!!!!!!!!!!! inici */

              .descripcio_inici{
                margin-top: 20%;
                margin-bottom: 5%;
                margin-left: 10%;
                margin-right: 10%;
              }

              #descripcio_inici_{
                margin-top: 20%;
                margin-bottom: 20%;
                margin-left: 10%;
                margin-right: 10%;
              }
  
  



/* !!!!!!!!!!!!!!!!!!!!!! personatges */

              .personatges_p{
                margin-top: 5%;
                margin-left: 10%;
                margin-right: 10%;
              }

              h3{
                font-family: monumentregu;
                font-size: 1.5rem;
                color: antiquewhite;
                margin-bottom: 2%;
                text-align: center;
              }

              .personatges_or{
                margin-top: 12%;
              }

              .img_pers{
                display:block;
                margin:auto;
                margin-bottom: 2%;
                clip-path: circle(35%);
            }

            .saber_mes{
                margin-top: 5%;
                font-family: _helvetica;
            }

            .saber_mes:hover {
                color: blueviolet;
                font-family: _helvetica;
            }

            .saber_mes:link {
                color:antiquewhite;
                font-family: _helvetica;
            }

            .saber_mes:visited {
                color: antiquewhite;
                font-family: _helvetica;
            }

            .saber_mes:active {
                color: blueviolet;
                font-family: _helvetica;
            }




/* !!!!!!!!!!!!!!!!!!!!!! footer */

            .footer{
              display: flex;
              text-align: center;
              justify-content: center;
            }


            footer p{
                background-color: rgb(0,0,0);
                color:#faebd7;
                font-size: 0.75rem;
                margin-bottom: 5%;
                font-family: _helvetica;
            }


/* !!!!!!!!!!!!!!!!!!!!!! animacio1 */
          
        .centrar{
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          margin-bottom: 5%;
          margin-top: 5%;
        }
          
        .animacio1 {
          width: 200px;
          height: 60px;
          position: relative;
          z-index: 1;
        }

        .cercle {
          width: 20px;
          height: 20px;
          position: absolute;
          border-radius: 50%;
          background-color: #faebd7;
          left: 15%;
          transform-origin: 50%;
          animation: circle7124 .5s alternate infinite ease;
        }

        @keyframes circle7124 {
          0% {
            top: 60px;
            height: 5px;
            border-radius: 50px 50px 25px 25px;
            transform: scaleX(1.7);
          }

          40% {
            height: 20px;
            border-radius: 50%;
            transform: scaleX(1);
          }

          100% {
            top: 0%;
          }
        }

        .cercle:nth-child(2) {
          left: 45%;
          animation-delay: .2s;
        }

        .cercle:nth-child(3) {
          left: auto;
          right: 15%;
          animation-delay: .3s;
        }

        .sombra {
          width: 20px;
          height: 4px;
          border-radius: 50%;
          background-color: rgba(85,85,85,0.9);
          position: absolute;
          top: 62px;
          transform-origin: 50%;
          z-index: -1;
          left: 15%;
          filter: blur(1px);
          animation: shadow046 .5s alternate infinite ease;
        }

        @keyframes shadow046 {
          0% {
            transform: scaleX(1.5);
          }

          40% {
            transform: scaleX(1);
            opacity: .7;
          }

          100% {
            transform: scaleX(.2);
            opacity: .4;
          }
        }

        .sombra:nth-child(4) {
          left: 45%;
          animation-delay: .2s
        }

        .sombra:nth-child(5) {
          left: auto;
          right: 15%;
          animation-delay: .3s;
        }




/* !!!!!!!!!!!!!!!!!!!!!! animacio2 */

          .animacio2{
            display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-top: 2%;
          }

          .button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 15px 30px;
          border: 0;
          position: relative;
          overflow: hidden;
          border-radius: 10rem;
          transition: all 0.02s;
          font-weight: bold;
          color: rgb(37, 37, 37);
          z-index: 0;
          box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
        }
        
        .button:hover {
          background: rgb(193, 228, 248);
          color: rgb(33, 0, 85);
        }
        
        .button:active {
          transform: scale(0.97);
        }
        
        .hoverEffect {
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }
        
        .hoverEffect div {
          background: rgb(222,0,75);
          background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
          border-radius: 40rem;
          width: 10rem;
          height: 10rem;
          transition: 0.4s;
          filter: blur(20px);
          animation: effect infinite 3s linear;
          opacity: 0.5;
        }
        
        .button:hover .hoverEffect div {
          width: 8rem;
          height: 8rem;
        }
        
        @keyframes effect {
        
          0% {
            transform: rotate(0deg);
          }
        
          100% {
            transform: rotate(360deg);
          }
        }

             
